#classList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.newClassBtn, #addClassBtn {
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    font-family: inherit;
}

.newClassBtn {
    background-color: #10b981; /* Emerald green */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}   